:root {
    --body-font: "Outfit", sans-serif;
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
    --font-fam: 'Outfit', sans-serif;
  }

body{
    font-family: var(--body-font);
    text-align: center;
}

*{
    margin:0;
    padding: 0;
    font-size: 10px;
}

main{
    background-color: var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: var(--white);
    width: 32rem;
    height:50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

img{
    width: 28.8rem;
    height: 28.8rem;
    margin: 1.8rem 1.6rem;
    border-radius: 10px;
}

h1{
    padding: 0;
    color: var(--dark-blue);
    font-size: 2.3rem;
    font-weight: 700;
    letter-spacing: -0.03rem;
    margin: 0.4rem 3.3rem 2rem 3.3rem;
}

p{
    color: var(--grayish-blue);
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: -0.025rem;
    margin: 0 3.3rem;
    padding: 0;
}